/.idea/
/vendor/
/index.php
/composer.lock
/clover.xml
/.config/config.dist
/.config/db_config.dist
/.config/sql.sql.dist
/.config/sql.sql.test
/example/.config/settings.php
/example/.config/db_settings.php
